<?xml version="1.0" encoding="utf-8"?>
<caching currentCache="DiskCache">
  <caches>
    <cache name="AzureBlobCache" type="ImageProcessor.Web.Plugins.AzureBlobCache.AzureBlobCache, ImageProcessor.Web.Plugins.AzureBlobCache" maxDays="365">
      <settings>
        <setting key="CachedStorageAccount"
            value="DefaultEndpointsProtocol=https;AccountName=setiadev;AccountKey=w5UWK4rXfuEOPYOFvOD6niImHHkTOyfInJkOdsBTFJFnvrC1ogXucSULBx9PoMT+8i/4nVyaOmZhqlpZuHl4eg=="/>
        <setting key="CachedBlobContainer" value="cache"/>
        <setting key="UseCachedContainerInUrl" value="false"/>
        <setting key="CachedCDNTimeout" value="1000"/>
        <setting key="SourceStorageAccount" value=""/>
        <setting key="SourceBlobContainer" value="media"/>
        <setting key="StreamCachedImage" value="false"/>
      </settings>
    </cache>
    <cache name="DiskCache" type="ImageProcessor.Web.Caching.DiskCache, ImageProcessor.Web" maxDays="365" browserMaxDays="7" trimCache="false">
      <settings>
        <setting key="VirtualCachePath" value="~/app_data/cache"/>
      </settings>
    </cache>
  </caches>
</caching>