    <div ng-controller="CreateTestContentController as vm">

        <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

        <form name="contentForm"
              ng-submit="save()"
              novalidate
              val-form-manager>

            <umb-editor-view ng-if="!vm.page.loading" umb-tabs>

                <umb-editor-header menu="vm.page.menu"
                                   name="vm.content.name"
                                   tabs="vm.content.tabs"
                                   hide-icon="true"
                                   hide-description="true"
                                   hide-alias="true">
                </umb-editor-header>

                <div class="toggle-checkbox" id="positionTest" style="display: none">
                    <input type="checkbox" id="enable-fakedata-nodeName" ng-model="vm.content.nodeNameProperty.generateContent">
                    <label for="enable-fakedata-nodeName"><i></i></label>


                    <span class="generator" ng-if="vm.content.nodeNameProperty.generateContent">
                        <select ng-model="vm.content.nodeNameProperty.generateType" ng-options="opt as opt.name for opt in vm.content.nodeNameProperty.generators track by opt.id"></select>
                    </span>
                </div>

                <umb-editor-container>
                    <umb-tabs-content class="form-horizontal" view="true">

                        <umb-tab id="tab{{tab.id}}" ng-repeat="tab in vm.content.tabs" rel="{{tab.id}}">

                            <!-- Other tabs than info -->
                            <div ng-if="tab.id !== -1 && tab.alias !== '_umb_infoTab'">
                                <div class="umb-property" data-element="property-{{property.alias}}" ng-repeat="property in tab.properties" property="property">
                                    <ng-form name="propertyForm">
                                        <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}">

                                            <val-property-msg property="property"></val-property-msg>

                                            <div class="umb-el-wrap" validity-Overried-If-Content-Creator>
                                                <div class="toggle-checkbox" ng-class="{hiddenlabel:property.hideLabel}" ng-if="property.generators">
                                                    <input type="checkbox" id="enable-fakedata-{{property.alias}}" ng-model="property.generateContent">
                                                    <label for="enable-fakedata-{{property.alias}}"><i></i></label>


                                                    <span class="generator" ng-if="property.generateContent">
                                                        <select ng-model="property.generateType" ng-options="opt as opt.name for opt in property.generators track by opt.id"></select>
                                                    </span>
                                                </div>

                                                <label class="control-label" ng-hide="property.hideLabel" for="{{property.alias}}" ng-attr-title="{{propertyAlias}}">
                                                    {{property.label}}
                                                    <span ng-if="property.validation.mandatory">
                                                        <strong class="umb-control-required">*</strong>
                                                    </span>
                                                    <small ng-bind-html="property.description | preserveNewLineInHtml"></small>
                                                </label>

                                                <div class="controls">
                                                    <umb-editor model="property"></umb-editor>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>

                            </div>

                            <!-- Info tab -->
                            <div ng-if="tab.id === -1 && tab.alias === '_umb_infoTab'">
                                <umb-content-node-info ng-if="content"
                                                       node="content">
                                </umb-content-node-info>
                            </div>

                        </umb-tab>

                    </umb-tabs-content>
                </umb-editor-container>


                <umb-editor-footer>

                    <umb-editor-footer-content-left>

                        <umb-breadcrumbs ng-if="ancestors && ancestors.length > 0"
                                         ancestors="ancestors"
                                         entity-type="content">
                        </umb-breadcrumbs>
                        <span class="number-pages">
                            <localize key="testContent_pageCount">Number of pages</localize>
                            <input type="number" ng-model="vm.numberOfTestItems" />
                        </span>
                        <span class="language-content">
                            <localize key="testContent_contentLanguage">Language</localize>
                            <select ng-model="vm.language" ng-options="opt as opt.name for opt in vm.languages track by opt.value"></select>
                        </span>
                    </umb-editor-footer-content-left>


                    <umb-editor-footer-content-right>

                        <umb-button-group default-button="vm.defaultButton"
                                          sub-buttons="vm.subButtons"
                                          state="vm.page.buttonGroupState"
                                          direction="up"
                                          float="right">
                        </umb-button-group>

                    </umb-editor-footer-content-right>

                </umb-editor-footer>

            </umb-editor-view>

        </form>
    </div>
