.toggle-checkbox {
    display: inline-block;
    white-space: nowrap;
    padding-left: 10px;
}
/* Checkbox body */
.toggle-checkbox.hiddenlabel {
    padding-bottom: 30px;
}

.toggle-checkbox label {
    /*display: block;*/
    width: 46px;
    height: 24px;
    /*margin: 0px auto;*/
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-color: #E6E9EC;
}

.toggle-checkbox input {
    display: none;
}


/* The toggle */

.toggle-checkbox i {
    height: 20px;
    width: 20px;
    background: #ccb5ff;
    display: inline-block;
    border-radius: 100px;
    margin-top: 2px;
    margin-left: 2px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    pointer-events: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.toggle-checkbox label:hover > i {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
    transform: scale(1.01);
}

.toggle-checkbox input:checked + label > i {
    margin-left: 24px;
}

.toggle-checkbox label:active {
    background-color: #7f6da5;
}

    .toggle-checkbox label:active > i {
        width: 24px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    }

.toggle-checkbox input:checked + label:active > i {
    margin-left: 18px;
}

.toggle-checkbox input:checked + label {
    background-color: #413659;
}


.toggle-checkbox select {
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    height: 24px;
}

.umb-editor-header__actions-menu .toggle-checkbox label {
    margin-top: 3px;
}

.umb-editor-header__actions-menu .toggle-checkbox select {
    margin-top: -12px;
}

.number-pages {
    margin-right: 20px;
}

.number-pages input {
    width: 60px;
}
.language-content select {
    width: 150px;
}